pandas==1.0.5
streamlit==0.79.0
streamlit-player==0.1.5
scikit-learn==0.23.1
aiohttp
aiodns
beautifulsoup4
cchardet
dataclasses
elasticsearch
pysocks
pandas>=0.23.0
aiohttp_socks<=0.4.1
schedule
geopy
fake-useragent
googletransx
